{% extends 'basic.html' %}
{% block content %}

<div class="form-container">
<h3>{{header}}</h3>
<div class="ticket_jobs">
    {% if entities %}
        <table class="table">
            <thead>
            <tr>
                {% for k,v in entities[0].items() %}
                    <th>{{k}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <a href="#">
                    {% for key, value in entity.items() %}
                        <td>{{value}}</td>
                    {% endfor %}
                    </a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No {{collection}} yet</h3>
    {% endif %}
</div>
</div>
{% endblock %}