{% extends 'basic.html' %}
{% block content %}
<div class="form-container">
<h3>{{header}}</h3>
<form action="" method='post'>
    {% if form.errors.entity_error %}
        <div class="alert alert-danger" role="alert">
            <ul >{% for error in form.errors.entity_error %}<li>{{ error }}</li>{% endfor %}</ul>
        </div>
    {% endif %}
    {% for field in form %}
    <div class="form-group">
        {% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %}
        {% if field.type == 'FieldList' %}
            {% for sub_field in field %}
                {{ sub_field(class_="form-control") }}
            {% endfor %}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            <ul >{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        </div>
        {% endif %}
    </div>
{% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
